# Maven
.m2/
target/

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Logs
*.log

# Codex
.codex-run/

# Env
.env

# Local DB data
.local-mysql-data/

# Compiled classes
*.class

# Archives / diagrams exports
*.zip
*.png
PNG_A_TELECHARGER/
PNG_HD_A_TELECHARGER/

# Maven local repo inside backend
backend/.m2/
backend/...m2repository/

# Misc local files
structure.txt